<!DOCTYPE html>
<html lang="en">
<head>
  <title>paidinfull</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<header>
  <nav class="navbar navbar-expand-sm bg-light container" >
    <a class="navbar-brand" href="../templates/home.html">
        <img src="../static/images/logo.png" alt="">
    </a>
    <div class="navbar-collapse collapse ">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../templates/ourmission.html">OUR MISSION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/templates/products.html">PRODUCTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/templates/ethos.html">ETHOS</a>
            </li>       
        </ul>
    </div>
  </nav>
  <section>
    <div class="aboutheader container" >
        <br>
        <h3 style="text-align: center">CONTACT US</h3>
        <br><br>
        <img class="center" src="../static/images/rawpixel-661923-unsplash.png">
    </div>
  </section>

</header>
  
<div class="container form-section">
    <br><br><br>
  <p>Need to reach us?, Filling out this form is the fastest and easiest way to do so.</p>
  <form action="/action_page.php">
    <div class="row">
        <div class="form-group col">
            <label>First Name</label>
            <input type="text" class="form-control"  name="text1">
        </div>
        <div class="form-group col">
            <label>Last Name</label>
            <input type="text" class="form-control "  name="text1">
        </div>
    </div>
    <div class="form-group">
        <label>Email Address</label>
        <input type="text" class="form-control"  name="text1">
    </div>
    <div class="form-group">
        <label>Message</label>
      <input type="text" class="form-control" name="text2">
    </div>
    <button type="submit" class="button-purple">Submit</button>
  </form>
  <br><br>
</div>
<div class="container subscribe-section">
      
      <div class="row">
          <div class="col">
                <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
          </div>
          <div class="col">
                <form action="/action_page.php">
                    <div class="row">
                        <div class="form-group col">
                            <input type="text" class="form-control" placeholder="Email" name="text2">
                        </div>
                        <div class="col">
                            <button type="submit" class="button-purple">SIGN UP </button>
                        </div>
                    </div>
                </form>
          </div>
            
      </div>
     
</div>

<footer class="container">
        <br><br><br>
    <div class="row">
        <div class="col">
            <a class="navbar-brand" href="#">
                <img src="../static/images/logo.png" alt="">
            </a>
        </div>
        <div class="col">
            <p> D-415, Kamala Vihar,</p>
            <p>Mahavir Nagar,</p>
            <p>Kandivali(WEST).</p>
        </div>
        <div class="col">
            <a>ABOUT</a>
            <a>OUR MISSION</a>
            <a>TEAM</a>
            <a>CAREERS</a>
            <a>LATEST NEWS</a>
            <a>CONTACT</a>
        </div>
        <div class="col">
            <a>PRODUCTS</a>
            <a>PIF MASTERCARD</a>
            <a>PIF PERKS</a>
            <a>PIF CASH REWARDS</a>
            
        </div>
        <div class="col">
            <a>ETHOS</a>
            <a>OUR MISSION</a>
        </div>
        <div class="col">
            <a>FOLLOW US</a>
        </div>
    </div>
</footer>

</body>
</html>
