<!DOCTYPE html>
<html lang="en">
<head>
  <title>paidinfull</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<header>
  <nav class="navbar navbar-expand-sm container" >
    <a class="navbar-brand" href="../templates/home.html">
        <img src="../static/images/logo.png" alt="">
    </a>
    <div class="navbar-collapse collapse ">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="../templates/about.html">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../templates/ourmission.html">OUR MISSION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../templates/products.html">PRODUCTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../templates/ethos.html">ETHOS</a>
            </li>       
        </ul>
    </div>
  </nav>
  <section>
    <div class="homeheader container">
        <h1>PERSPECTIVE</h1>
        <h1>INCLUSION.</h1>
        <h1>FREEDOM</h1>
        <button class="button-gold">JOIN THE MOVEMENT &#x2192;</button>
        
        <img class="center" src="../static/images/thought-catalog-547018-unsplash.png">
      <a><img src="../static/images/arrow-left.png"></a>
      <a><img src="../static/images/arrow-right.png"></a>
    </div>
  </section>

</header>
<div class="container block1">
    <div class="row">
        <div class="col-6" >
            <img height="100%" width="100%" src="../static/images/thought-catalog-383715-unsplash.png">      
        </div>
        <div class="col-6"> 
            <div class="vertical-center" style="color:#5B2A98;">
                <br><br>
                <h2>CREATING INNOVATIVE</h2>
                <h2>FINANCIAL SOLUTIONS THAT</h2> 
                <h2>FIT YOUR LIFESTYLE</h2>
                <button class="button-purple">OUR VISION &#x2192;</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background:#FAFBFF;">

    <br><br>
<div class="container center" >
    <div class="row">
        <div class="col-5">
            <br>          
            <img  src="../static/images/creadit-card.png">
            <br><br>
            <h3>PAID IN</h3>
            <h3> FULL MASTERCARD</h3>
            <p>Finally money management tools that moves how you do
            </p>          
            <button class="button-purple2">LEARN MORE &#x2192;</button>           
        </div>
        <div class="col-1"></div>
        <div class="col-5"> 
            <br>
            <img  src="../static/images/medal.png">
            <br><br>
            <h3>PAID IN </h3>
            <h3> FULL REWARDS</h3>            
            <p>It's like getting paid to shop</p>   
            <button class="button-purple2">LEARN MORE &#x2192;</button>
        </div>
        <div class="col-1"></div>
    </div>
    <br><br>
    <div class="row ">
        <br>
        <div class="col-5">
            <br>
            <img  src="../static/images/financial.png">
            <br><br>
            <h3>PAID IN</h3>
            <h3> FULL PERKS</h3>
            <p>You can finally spend time and money on the things you love and leave the rest to us</p> 
            <button class="button-purple2">LEARN MORE &#x2192; </button>   
        </div>
        <div class="col-1"></div>
        <div class="col-5"> 
            <br>   
            <img  src="../static/images/community.png">
            <br><br>
            <h3>PIFLIFE</h3>
            <h3>COMMUNITY</h3>
            <p>It's more than a brand, it's a lifestyle.</p>                        
            <button class="button-purple2">LEARN MORE &#x2192;</button> 
        </div>
        <div class="col-1"></div>
    </div>
    
</div>
<br><br>
</div>
  
<div class="container bankingbenefitsrewards">
    
    <div class="right-align">
        <h1>BANKING. BENEFITS.</h1>
        <h1>REWARDS</h1>
        <br>
        <p>Here is some description text. Nunc cursus erat ut nisi facilisis, vel fringilla neque pellentesque. pellentesque
            habitant morbi tristique senectus et malesuada fames.
        </p>
        <br>
        <button class="button-gold">ETHOS &#x2192; </button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            
            <br><br>
            <h6>OUR VISSION</h6>
            <h1>LEVEL UP. LIVE RICH</h1>
            <p>Here is some description text. Nunc cursus erat ut nisi facilisis, vel fringilla neque pellentesque. pellentesque
                habitant morbi tristique senectus et malesuada fames.
            </p>
            <br>
            <button class="button-purple">LEVEL UP &#x2192; </button>
            
        </div>
        <div class="col-6" sytle="background:linear-gradient(90deg, white 40%,rgb(132, 242, 248) 60% )"> 
            <img height=100% width=100% src="../static/images/p-1-mastercard-finally-realized-signatures-are-stupid.png">  
        </div>
    </div>
</div>


<div class="container subscribe-section">
      
        <div class="row">
            <div class="col">
                  <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
            </div>
            <div class="col">
                  <form action="/action_page.php">
                      <div class="row">
                          <div class="form-group col">
                              <input type="text" class="form-control" placeholder="Email" name="text2">
                          </div>
                          <div class="col">
                              <button type="submit" class="button-purple">SIGN UP &#x2192;</button>
                          </div>
                      </div>
                  </form>
            </div>
              
        </div>
       
  </div>
  
  <footer class="container">
          <br><br><br>
      <div class="row">
          <div class="col">
              <a class="navbar-brand" href="#">
                  <img  src="../static/images/logo.png" alt="">
              </a>
          </div>
          <div class="col">
              <p> D-415, Kamala Vihar,</p>
              <p>Mahavir Nagar,</p>
              <p>Kandivali(WEST).</p>
          </div>
          <div class="col">
              <a>ABOUT</a>
              <a>OUR MISSION</a>
              <a>TEAM</a>
              <a>CAREERS</a>
              <a>LATEST NEWS</a>
              <a>CONTACT</a>
          </div>
          <div class="col">
              <a>PRODUCTS</a>
              <a>PIF MASTERCARD</a>
              <a>PIF PERKS</a>
              <a>PIF CASH REWARDS</a>
              
          </div>
          <div class="col">
              <a>ETHOS</a>
              <a>OUR MISSION</a>
          </div>
          <div class="col">
              <a>FOLLOW US</a>
          </div>
      </div>
  </footer>
  <script>
    var c = document.getElementById("homeheader");
    var ctx = c.getContext("2d");
    ctx.beginPath();
    ctx.rect(20, 20, 150, 100);
    ctx.fillStyle = "red";
    ctx.fill();

    ctx.beginPath();
    ctx.rect(40, 40, 150, 100);
    ctx.fillStyle = "blue";
    ctx.fill();

      
  </script>
</body>

</html>
