<!DOCTYPE html>
<html lang="en">
<head>
  <title>paidinfull</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<header>
  <nav class="navbar navbar-expand-sm bg-light container" >
    <a class="navbar-brand" href="../templates/home.html">
        <img src="../static/images/logo.png" alt="">
    </a>
    <div class="navbar-collapse collapse ">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="../templates/about.html">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">OUR MISSION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../templates/products.html">PRODUCTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../templates/ethos.html">ETHOS</a>
            </li>       
        </ul>
    </div>
  </nav>
  <section>
    <div class="productsheader container" >
        <br>
        <h1 style="text-align: center">PRODUCTS</h1>
       
        
  </section>

</header>
  
<div class="container products">
    <br> 
    <div class="row">
        <div class="col-6">
            <img  src="../static/images/creadit-card.png">
            <br><br>
            <h6>PAID IN FULL MASTERCARD</h6>
            <h2>RETHINK HOW YOU BANK</h2>
            <p>Introducing the Paid in Full MasterCard. The smarter alternative to traditional banking. The PIF card is a full service
                GPR ( General Purpose Reloadable) card. Robust and powerful, your Paid in Full Mastercard has all of the major services
                you have come accustomed to from the BBB's (Big Box Banks) without all of the fees and bad setvice. Think about it the world
                is increasingly going more and more mobile, shouldn't your banking be too?
            </p>
            <br>
            <button class="button-purple">OPEN AN ACCOUNT</button>
            
        </div>
        <div class="col-6">
            
            <img height=100% width=100% src="../static/images/p-1-mastercard-finally-realized-signatures-are-stupid.png">
            
        </div>
    </div>
    <div class="row">
            <div class="col-6">
                <img height=100% width=100% src="../static/images/rodion-kutsaev-184298-unsplash.png">
            </div>
            <div class="col-6">
                <br>
                <img  src="../static/images/financial.png">
                <br><br>
                <h6>PAID IN FULL PERKS</h6>
                <h2> BENEFITS FOR BEING YOU</h2>
                <p>Give you and your family some added perks with PIFPerks; premium discounted Health. Wellness, and
                    Lifestyle benefits. Enjoy savings on doctor visits, restaurants, retailers, supermarkets, gym memberships and 
                    tons more. Also, take advantage of great services like Telephone-Doc, Tele-Medicine, and Homelink
                </p>
                <br>
                <button class="button-purple">GET THE APP &#x2192; </button>
                
            </div>
    </div>
    <div class="row">
            <div class="col-6">
                <br>
                <img  src="../static/images/medal.png">
                <br><br>
                <h6>PAID IN FULL REWARDS</h6>
                <h2>MONEY SPENT. MONEY EARNED</h2>
                <p>Earn the real cash back on your everyday purchases with PIF Cash Rewards. Get tons of exclusive deals and offers from major retailers</p>
                <button class="button-purple">GET THE APP &#x2192;</button>
            </div>
            <div class="col-6">
                
                <img height=100% width=100% src="../static/images/pexels-photo-1178562.png">
                
            </div>
    </div>
    <div class="row">
            <div class="col-6">
                
                <img height=100% width=100% src="../static/images/pexels-photo-461049.png">
            </div>
            <div class="col-6">
                <br>   
                <img  src="../static/images/community.png">
                <br><br>
                <h6>PIF COMMUNITY</h6>
                <h2>BENEFITS FOR BEING YOU</h2>
                <p>Here is some description text. Nunc cursus erat ut nisi facilisis, vel fringilla neque pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>                    
                <button class="button-purple">COMING SOON</button>
            </div>
            
    </div>


</div>
<div class="container subscribe-section"  style="background: #C0B283">
    
    <div class="row">
        <div class="col">
            <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
        </div>
        <div class="col">
            <form action="/action_page.php">
                <div class="row">
                    <div class="form-group col">
                        <input type="text" class="form-control" placeholder="Email" name="text2">
                    </div>
                    <div class="col">
                        <button type="submit" class="button-purple">SIGN UP </button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
     
</div>

<footer class="container">
        <br><br><br>
    <div class="row">
        <div class="col">
            <a class="navbar-brand" href="#">
                <img src="../static/images/logo.png" alt="">
            </a>
        </div>
        <div class="col">
            <p> D-415, Kamala Vihar,</p>
            <p>Mahavir Nagar,</p>
            <p>Kandivali(WEST).</p>
        </div>
        <div class="col">
            <a>ABOUT</a>
            <a>OUR MISSION</a>
            <a>TEAM</a>
            <a>CAREERS</a>
            <a>LATEST NEWS</a>
            <a>CONTACT</a>
        </div>
        <div class="col">
            <a>PRODUCTS</a>
            <a>PIF MASTERCARD</a>
            <a>PIF PERKS</a>
            <a>PIF CASH REWARDS</a>
            
        </div>
        <div class="col">
            <a>ETHOS</a>
            <a>OUR MISSION</a>
        </div>
        <div class="col">
            <a>FOLLOW US</a>
        </div>
    </div>
</footer>

</body>
</html>
